<div class="card card-body">
  <h3>Ideia</h3>
  <form action="/ideas" method="POST">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input type="text" name="title" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="details">Detalhes</label>
      <textarea name="details" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>